@model IEnumerable<Licensing.Domain.AreasOfPractice.AreaOfPractice>

@if (Model != null)
{
    foreach (var areaOfPractice in Model)
    {
        <div class="row padded-small">
            @areaOfPractice.Option.Name
        </div>
    }
}