@model Licensing.Domain.BarNews.BarNewsResponse

@if (Model != null)
{
    <div class="row vertical-center padded">
        @if (Model.Response)
        {
            <span>I would like a complimentary subscription to the Bar News Magazine</span>
        }
        else
        {
            <span>I do not want a complimentary subscription to the Bar News Magazine</span>
        }
    </div>
}