<div class="row vertical-center padded italic">
    Individual gender, race/ethnicity, disability, and sexual orientation information is kept strictly
    confidential, and is used only in the aggregate for demographic analysis.
</div>