<div class="row">
    <div class="row padded-small">
        <div class="inline bold">Bar Foundation:</div>
        <div class="inline">$50</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Campaign for Equal Justice:</div>
        <div class="inline">$50</div>
    </div>
</div>