@model IEnumerable<Licensing.Domain.Donations.Donation>

@if (Model != null)
{
    foreach (var donation in Model)
    {
        <div class="row padded-small">
            <div class="inline bold">@donation.Product.Name:</div>
            <div class="inline">$@donation.Product.Price</div>
        </div>
    }
}