@model Licensing.Web.Models.EmailsVM

@if (Model != null)
{
    <div class="row">
        <div class="row padded-small">
            <div class="inline bold">Primary:</div>
            <div class="inline">
                @if (Model.PrimaryEmail != null)
                {
                    @Model.PrimaryEmail.EmailAddress
                }
            </div>
        </div>
        <div class="row padded-small">
            <div class="inline bold">Home:</div>
            <div class="inline">
                @if (Model.HomeEmail != null)
                {
                    @Model.HomeEmail.EmailAddress
                }
            </div>
        </div>
    </div>
}