<div class="row">
    <div class="row padded-small">
        <div class="inline bold">Primary:</div>
        <div class="inline">collins@wsba.org</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Home:</div>
        <div class="inline">soccercjs2@gmail.com</div>
    </div>
</div>
