@model Licensing.Domain.Judicial.JudicialPosition

@if (Model != null)
{
    <div class="row padded">
        <b>Position:</b> @Model.Option.Name
    </div>

    if (Model.Citation != null)
    {
        <div class="row padded">
            <b>Citation:</b> @Model.Citation
        </div>
    }
}