@model IEnumerable<Licensing.Domain.Languages.Language>

@if (Model != null)
{
    <div class="padded">
        @foreach (var language in Model)
        {
            <div class="row padded-small">
                @language.Option.Name
            </div>
        }
    </div>
}