@model string

<div class="row vertical-center">
    @Model

    @*<div class="row-button-container">
        <button type="button" class="btn btn-warning">Go Inactive</button>
        <button type="button" class="btn btn-danger">Resign</button>
    </div>*@
</div>