@model IEnumerable<Licensing.Business.ViewModels.LicenseProductVM>

@if (Model != null)
{
    <div class="padded">
        @foreach (var productVM in Model)
        {
            <div class="row padded-small fake-table">
                <div class="inline bold fake-table-cell">
                    @productVM.LicenseProduct.Name
                </div>
                <div class="inline fake-table-cell">
                    $@productVM.Price
                </div>
            </div>
        }
    </div>
}
