@model Licensing.Business.ViewModels.PhoneNumbersVM

<div class="row">
    <div class="row padded-small">
        <div class="inline bold">Primary:</div>
        <div class="inline">@Model.PrimaryPhoneNumber</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Home:</div>
        <div class="inline">@Model.HomePhoneNumber</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Fax:</div>
        <div class="inline">@Model.FaxPhoneNumber</div>
    </div>
</div>