<div class="row">
    <div class="row padded-small">
        <div class="inline bold">Primary:</div>
        <div class="inline">(206) 733-5911</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Home:</div>
        <div class="inline">(425) 280-1778</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Fax:</div>
        <div class="inline">(425) 123-4567</div>
    </div>
</div>