<div class="row padded">
    <div class="inline bold">Provided Pro Bono Services:</div>
    <div class="inline">Yes</div>
</div>
<div class="border-top padded">
    <div class="row padded-small">
        <div class="inline bold">RPC 6.1(a) Hours:</div>
        <div class="inline">5</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">RPC 6.1(b) Hours:</div>
        <div class="inline">3</div>
    </div>
    <div class="row padded-small">
        <div class="inline bold">Remain Anonymous:</div>
        <div class="inline">No</div>
    </div>
</div>
