@model Licensing.Domain.ProfessionalLiabilityInsurances.ProfessionalLiabilityInsurance

@if (Model != null && Model.Confirmed)
{
    <div class="row padded">
        @Model.Option.Description
    </div>
}