@model IEnumerable<Licensing.Domain.Sections.Section>

@if (Model != null)
{
    foreach (var sectionProduct in Model)
    {
        <div class="row padded-small">
            @sectionProduct.Product.Name
        </div>
    }
}