<div class="row padded">
    <div class="inline bold">Manages Trust Account:</div>
    <div class="inline">Yes</div>
</div>
<div class="row padded-small">
    <table class="full-width">
        <thead>
            <tr>
                <th>Bank</th>
                <th>Branch</th>
                <th>Account Number</th>
            </tr>
        </thead>
        <tr>
            <td>Bank of America</td>
            <td>Seattle</td>
            <td>12345678</td>
        </tr>
        <tr>
            <td>BECU</td>
            <td>Bellevue</td>
            <td>87654321</td>
        </tr>
    </table>
</div>