@model Licensing.Domain.TrustAccounts.TrustAccount

@if (Model != null)
{
    <div class="row padded">
        <div class="inline bold">Manages Trust Account:</div>
        <div class="inline">
            @if ((bool)Model.HandlesTrustAccount)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </div>
    </div>

    if ((bool)Model.HandlesTrustAccount)
    {
        <div class="row padded-small">
            <table class="full-width standard-table">
                <thead>
                    <tr>
                        <th>Bank</th>
                        <th>Branch</th>
                        <th>Account Number</th>
                    </tr>
                </thead>

                @foreach (var trustAccountNumber in Model.TrustAccountNumbers)
                {
                    <tr>
                        <td>@trustAccountNumber.Bank</td>
                        <td>@trustAccountNumber.Branch</td>
                        <td>@trustAccountNumber.AccountNumber</td>
                    </tr>
                }
            </table>
        </div>
    }
}