<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="LicensingContext" connectionString="Data Source=DEVVSQL1401;Initial Catalog=LICENSING17_INT;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SiteSqlServer" connectionString="Server=prdvsql08i01;Database=eBusPersonifyDEV;uid=ebusPersonifyadmin;pwd=N@sc@r3;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TAMIContext" connectionString="Data Source=DEVVSQL1401;Initial Catalog=MCLE2016_INT;Integrated Security=False; MultipleActiveResultSets=true; User ID=SQL_MCLELIC_RO; Password=x2eMOalXJEMd;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>