.demographic-column {
    padding-left: 5px;
    padding-right: 5px;
}

.demographic-container {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.demographic-container-header {
    background-color: #F5F5F5;
    padding: 5px;
}

.demographic-container-title {
    font-size: 13pt;
    font-weight: bold;
    display: inline-block;
    white-space: normal;
}

.demographics-container-body {
    padding: 5px;
}