/* Generic View Styles */
.row-button-container {
    display: inline-block;
    margin-left:auto;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.inline {
    display: inline-block;
}

.border-top {
    border-top: 2px solid #ddd;
}

.float-right {
    float: right;
}

.padded {
    padding: 5px;
}

.padded-top {
    padding-top: 5px !important;
}

.padded-small {
    padding: 2px;
}

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.width-restricted {
    max-width: 280px;
}

.small-text-box {
    width: 100px;
}

.margin-top {
    margin-top: 15px;
}

.required {
    color: red;
}

.alternate-row {
    background-color: #F5F5F5;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.fake-table {
    width: 100%;
    display: table;
}

.fake-table-cell {
    display: table-cell;
    padding: 0px;
    vertical-align: top;
}

.fake-table-cell:last-child {
    text-align: right;
}

.button-fix {
    padding-top: 1px;
}

/* Table Styles */

.standard-table {
    border: 2px solid #ddd;
}

.standard-table thead {
    background-color: #F5F5F5;
}

.standard-table th, .standard-table td {
    padding: 5px;
    border: 1px solid #ddd;
}