.delete-icon {
    color: red !important;
}

.delete-icon:link {
    text-decoration: none;
}

.delete-icon:visited {
    text-decoration: none;
}

.delete-icon:hover {
    text-decoration: none;
}

.delete-icon:active {
    text-decoration: none;
}