@model Licensing.Business.ViewModels.DisabilityVM

@{
    ViewBag.Title = "Edit Disability";
}

<h2>Disability</h2>

<h5>Do you have a disability?</h5>

<hr />

@using (Html.BeginForm("Edit", "Disability", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.LicenseId)

        <div>
            @foreach (var option in Model.Options)
            {
                <div>
                    @Html.RadioButtonFor(m => m.SelectedOptionId, option.DisabilityOptionId) @option.Name
                </div>
            }
        </div>

        <hr />

        <h6>
            Individual gender, race/ethnicity, disability, and sexual orientation information is kept strictly
            confidential, and is used only in the aggregate for demographic analysis. Aggregate data are available
            on our website. With this information we can better understand the demographics of our membership.
            Providing confidential demographic information is optional.
        </h6>

        <hr />

        <div class="row">
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
            <input class="btn btn-success" type="submit" value="Save" />
        </div>
    </div>
}